FLAGPERF_PATH: "/home/FlagPerf/base"
FLAGPERF_LOG_PATH: "result"
VENDOR: "nvidia"
FLAGPERF_LOG_LEVEL: "info"
# "BENCHMARK" means benchmarks(torch), "TOOLKIT" means toolkits
# benchmarks using container_main to launch "torchrun benchmarks/<case>/main.py", nnodes * nproc
# toolkits using container_main to launch bash toolkits/<case>/<vendor>/main.sh, nnodes.
# only in benchmarks, flagperf will automatically execute benchmakrs/<case>/<vendor>/requirements.txt and env.sh
# all resources to be used in toolkits/<case>/<vendor>/main.sh, should be under toolkits/<case>/<vendor>/
BENCHMARKS_OR_TOOLKITS: "BENCHMARK"
HOSTS: ["192.168.1.2", "192.168.1.3"]
NPROC_PER_NODE: 8
SSH_PORT: "22"
HOSTS_PORTS: ["2222"]
MASTER_PORT: "29501"
SHM_SIZE: "32G"
ACCE_CONTAINER_OPT: " --gpus all"
# for nvidia, using " -- gpus all"
# for mthreads, using"--env MTHREADS_VISIBLE_DEVICES=all"
# for kunlunxin, using "--device=/dev/xpu0 --device=/dev/xpu1 --device=/dev/xpu2 --device=/dev/xpu3 --device=/dev/xpu4 --device=/dev/xpu5 --device=/dev/xpu6 --device=/dev/xpu7 --device=/dev/xpuctrl"
# for iluvatar, using""
# for xxx, using
PIP_SOURCE: "https://mirror.baidu.com/pypi/simple"
CLEAR_CACHES: True
# for nvidia, using "CUDA_VISIBLE_DEVICES"
# for mthreads, using "MUSA_VISIBLE_DEVICES"
# for xxx, using
ACCE_VISIBLE_DEVICE_ENV_NAME: "CUDA_VISIBLE_DEVICES"
CASES: 
     "computation-FP32": "pytorch_2.3"

# mthreads "computation-FP64:S5000": "pytorch_2.2"
# mthreads "computation-FP32:S5000": "pytorch_2.2"
# mthreads "computation-TF32:S5000": "pytorch_2.2"
# mthreads "computation-FP16:S5000": "pytorch_2.2"
# mthreads "computation-BF16:S5000": "pytorch_2.2"
# mthreads "computation-FP8:S5000": "pytorch_2.2"
# mthreads "computation-INT8:S5000": "pytorch_2.2"
# mthreads "main_memory-bandwidth:S5000": "pytorch_2.2"
# mthreads "main_memory-capacity:S5000": "pytorch_2.2"
# mthreads "interconnect-h2d:S5000": "pytorch_2.2"
# mthreads "interconnect-MPI_intraserver:S5000": "pytorch_2.2"
# mthreads "interconnect-P2P_intraserver:S5000": "pytorch_2.2"
# mthreads "interconnect-P2P_interserver:S5000": "pytorch_ssh"
# mthreads "interconnect-MPI_interserver:S5000": "pytorch_ssh" 

# mthreads "computation-TF32:S4000": "pytorch_2.2"
# mthreads "computation-FP16:S4000": "pytorch_2.2"

# iluvatar "computation-BF16:BI150": "pytorch_2.1"
# iluvatar "computation-FP16:BI150": "pytorch_2.1"
# iluvatar "computation-FP32:BI150": "pytorch_2.1" 
# iluvatar "main_memory-bandwidth:BI150": "pytorch_2.1"
# iluvatar "main_memory-capacity:BI150": "pytorch_2.1"
# iluvatar "interconnect-h2d:BI150": "pytorch_2.1"
# iluvatar "interconnect-MPI_intraserver:BI150": "pytorch_2.1"
# iluvatar "interconnect-MPI_interserver:BI150": "pytorch_2.1"

# nvidia "computation-FP64": "pytorch_2.3"
# nvidia "computation-FP32": "pytorch_2.3"
# nvidia "computation-TF32": "pytorch_2.3"
# nvidia "computation-FP16": "pytorch_2.3"
# nvidia "computation-BF16": "pytorch_2.3"
# nvidia "computation-INT8": "pytorch_2.3"
# nvidia "main_memory-bandwidth": "pytorch_2.3"
# nvidia "main_memory-capacity": "pytorch_2.3"
# nvidia "interconnect-h2d": "pytorch_2.3"
# nvidia "interconnect-P2P_intraserver": "pyorch_2.3"
# nvidia "interconnect-MPI_intraserver": "pytorch_2.3"
# nvidia "interconnect-P2P_interserver": "pytorch_ssh"
# nvidia "interconnect-MPI_interserver": "pytorch_ssh"

# Fine-grained chip model configuration
# nvidia "computation-FP64:A100": "pytorch_2.3"
# nvidia "computation-FP32:A100": "pytorch_2.3"
# nvidia "computation-TF32:A100": "pytorch_2.3"
# nvidia "computation-FP16:A100": "pytorch_2.3"
# nvidia "computation-BF16:A100": "pytorch_2.3"
# nvidia "computation-INT8:A100": "pytorch_2.3"
# nvidia "main_memory-bandwidth:A100": "pytorch_2.3"
# nvidia "main_memory-capacity:A100": "pytorch_2.3"
# nvidia "interconnect-h2d:A100": "pytorch_2.3"
# nvidia "interconnect-MPI_intraserver:A100": "pytorch_2.3"
# nvidia "interconnect-P2P_intraserver:A100": "pyorch_2.3"
# nvidia "interconnect-P2P_interserver:A100": "pytorch_ssh"
# nvidia "interconnect-MPI_interserver:A100": "pytorch_ssh"

# metax   "computation-FP16:C550": "pytorch_2.0"
# metax   "interconnect-h2d:C550": "pytorch_2.0"
# metax   "interconnect-MPI_interserver:C550": "pytorch_2.0"
# metax   "interconnect-MPI_intraserver:C550": "pytorch_2.0"
# metax   "interconnect-P2P_interserver:C550": "pytorch_2.0"
# metax   "interconnect-P2P_intraserver:C550": "pytorch_2.0"
# metax   "computation-FP32:C550": "pytorch_2.0"
# metax   "computation-TF32:C550": "pytorch_2.0"
# metax   "computation-BF16:C550": "pytorch_2.0"
# metax   "computation-INT8:C550": "pytorch_2.0"
# metax   "main_memory-bandwidth:C550": "pytorch_2.0"
# metax   "main_memory-capacity:C550": "pytorch_2.0"
# metax   "computation-FP64:C550": "pytorch_2.0"

# kunlunxin "interconnect-MPI_intraserver:R300p": "pytorch_2.0"
# kunlunxin "interconnect-P2P_intraserver:R300p": "pytorch_2.0"
# kunlunxin "interconnect-MPI_interserver:R300p": "pytorch_2.0"
# kunlunxin "interconnect-P2P_interserver:R300p": "pytorch_2.0"
# kunlunxin "interconnect-h2d:R300p": "pytorch_2.0"
# kunlunxin "main_memory-bandwidth:R300p": "pytorch_2.0"
# kunlunxin "main_memory-capacity:R300p": "pytorch_2.0"
# kunlunxin "computation-FP32:R300p": "pytorch_2.0"
# kunlunxin "computation-FP16:R300p": "pytorch_2.0"
# kunlunxin "computation-BF16:R300p": "pytorch_2.0"
# kunlunxin "computation-INT8:R300p": "pytorch_2.0"
# kunlunxin "computation-TF32:R300p": "pytorch_2.0"

